<!DOCTYPE html>
<html lang="en">
<head>
<title>UMP Campus Election</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--Document information created by-->
<meta name="author" content="Noorlin">
<meta name="description" content="Schema Answer HOT Semester I 2022/2023">

<!--Create a CSS External Style Sheet & link a .css on another folder -->
<link rel="stylesheet" type="text/css" href="../StyleSheets/mystyles.css">

<!--Create a javascript & link a .js on another folder
<script type = "text/javascript" src="./JavaScript/myfunctions.js"></script> --> 

</head>
<body>


<div class="header">
  <div class="bannerimg" style="height:200px;">Image</div>
</div>

<div class="navbar_mid">
  <a href="../index2.html" class="active">HOME</a>
  <a href="../Views/candidate.html">CANDIDATE</a>
</div>

<div class="row">
  <div class="main">
    <h2>CANDIDATE</h2>

    <p><b>AHMAD ZHAFRAN FARUQI BIN ZAINAL ABIDIN</b></p>
   	<br>
        <div class="container1">
		<div class ="row"><div class="candidateimg1" style="height:100px;">Zhafran</div>
		<div class ="row"><p>Motto: Mahasiswa Dinamis</p></div>
		</div>
		
	</div>
	</div>
	
</div>

<div class="footer">
  <div class="navbar_footer">
  <h4>Copyright 2022; All Rights Reserved.</h4>
</div>
</div>

</body>
</html>
<script>
    function addQty () {
      // (A) GET THE VALUE FROM THE TEXT BOXES
      // NOTE - WE PARSE THEM AS INTEGER
      var a = parseInt(document.getElementById("qty_0.25").value);
      

           document.getElementById("demo").innerHTML = "You have " + result_qty + " items and " + result_gram + " gram "; 
    }    
</script>
    
   
    
    